<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yao.devsdk">


    <!-- 获取wifi的mac地址-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 读sd卡上的媒体内容-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <!-- This should a bug of Android ICS framework. I just resolved this by add this permission again:否则有时候会报安全异常 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取手机的IMEI、IMSI、iccid等-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>


    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="false">

    </application>

</manifest>
